.contact {
  min-height: 100vh;

  .contactFirstDiv {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;

    .contactImage {
      width: 55%;
      height: 90vh;
      background-image: url('../../img/contact.jpg');
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-size: cover;
      animation: fade 2s ease;
      color: #fdfffc;

      .contactAddress {
        padding-left: 2%;
        display: flex;
        flex-direction: row;

        .icon {
          width: 25px;
          height: 25px;
          padding-left: 2%;
        }

        span {
          display: flex;
          flex-direction: column;
          width: 80%;

          h3 {
            margin: 0;
            padding-left: 10%;
          }
          h4 {
            padding-left: 10%;
          }
        }
      }

      .contactPhone {
        padding-left: 2%;
        display: flex;
        flex-direction: row;

        .icon {
          width: 25px;
          height: 25px;
          padding-left: 2%;
        }

        span {
          display: flex;
          flex-direction: column;
          width: 80%;

          h3 {
            margin: 0;
            padding-left: 10%;
          }
          h4 {
            padding-left: 10%;
            color: #e71d36;
          }
        }
      }

      .contactMail {
        padding-left: 2%;
        display: flex;
        flex-direction: row;

        .icon {
          width: 25px;
          height: 25px;
          padding-left: 2%;
        }

        span {
          display: flex;
          flex-direction: column;
          width: 80%;

          h3 {
            margin: 0;
            padding-left: 10%;
          }
          h4 {
            padding-left: 10%;
            color: #e71d36;
          }
        }
      }
    }

    .contactForm {
      width: 45%;
      height: 90vh;
      padding-left: 2%;
      animation: fade 2s ease;

      h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0;
      }

      .form {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .formGroup {
          padding-top: 2%;
          padding-bottom: 2%;
          .formLabel {
            border: 1px solid #7a7a7a;
            padding-left: 4%;
            background-color: #fdfffc;
            margin: 1px;

            p {
              font-weight: bold;
              color: #464646;
            }
          }

          .formInput {
            border: 1px solid #7a7a7a;
            padding-left: 4%;
            background-color: #fdfffc;
            height: 50px;
            margin: 1px;
          }

          .formTextArea {
            resize: none;
            padding-left: 4%;
            padding-top: 2%;
            font-family: inherit;
            font-size: inherit;
            font-weight: bold;
          }

          .btn {
            border: 1px solid #e71d36;
            background-color: #e71d36;
            color: #fdfffc;
            font-weight: bold;
            width: 40%;
            margin: auto;
            margin-top: 2%;
            margin-bottom: 2%;
          }
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
